@font-face { 
	font-family: "RubikMoonrocks";  
	src: url("../fonts/RubikMoonrocks-Regular.ttf");
}

body {
	font-family: Arial, sans-serif;
	background-image: url("../images/splotch.svg"), url("../images/checkerboard-cross.webp");
	background-repeat: no-repeat, repeat;
}

h1 {
	font-size: 4em;
}

.grime {
	font-family: Arial, sans-serif;
	font-family: RubikMoonrocks;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.splotch {
	background-repeat: no-repeat;
	background-position: center;
}

#board td {
	width: 60px;
	text-align: right;
	vertical-align: bottom;
	background-color: #a4bfcc;
	border: 1px solid lightgrey;
	box-shadow: 2px 2px 1px 1px #fffaee inset, -1px -1px 1px 1px #655671 inset;
	padding: 5px;
}

#board tr {
	height: 60px;
}

#reference {
	margin-top: 20px;
	background: white;
}

#reference .ref_item {
	padding: 5px;
	border: dotted grey 1px;
}

#control_panel {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 30px;
	border-top-left-radius: 10px;
	border: solid black 1px;
	background: lightgrey;
}

#heading { 
	display: none;
	padding: 5px;
	text-align: center;
}

@media print {
	#control_panel { display: none; }
	#heading { display: block; }
	#board td {
		box-shadow: none; 
		background-color: none;
	}
}
